@inject  AssetLocator AssetLocator
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory | @ViewData["Title"]</title>
    <link href="@AssetLocator.GetAsset("build/app.css")" rel="stylesheet" />
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <h2>Inventory</h2>
            </a>
            <a class="navbar-burger burger" aria-label="menu" aria-expanded="false" dataa-target="navbarBasic">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">Home</a>
                <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="About">About</a>
                <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                <a class="navbar-item" asp-area="" asp-controller="Rooms" asp-action="Index">Rooms</a>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Inventory</p>
        </footer>
    </div>

    <script src="@AssetLocator.GetAsset("build/runtime.js")"></script>
    <script src="@AssetLocator.GetAsset("build/app.js")"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
